*{
    margin: 0 0px;
    padding: 0;
}

.header1 {
    background-color: rgba(255, 200, 2, 0.815);
    display: flex;
    height: 50px;
    width: 100%;
    justify-content:space-between;
    align-items: center;
}

.header1_left{
    margin-left: 400px;
    font-size: 23px;
    
}

.header1_right{
    font-size: 17px;
    margin-right: 400px;
}

.header2{
    display: flex;
}

.kmong home{
    display: inline-block;
    margin: 400px;
}

.search-box{
    margin: 10px;
    height: 18px;
    width: 500px;
    background-color: white;
    border-radius: 40px;
    padding: 10px;
    border: 1px solid black;
}

.search-box:hover{
    box-shadow: 0 0 .5px 1px gray;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    width: 100px;
    padding: 0;
    color: black;
    font-size: 11px;
    line-height: 30px;
    width: 200px;

}

.search-txt:focus{
    outline: none;
}

.search-btn{
    color: black;
    width: 40px;
    height: 100%;
    background-color: white;
    border: none;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    float: right;
    
}


.dropdown-content{
    display: flex;
    margin-left: 400px;

}

.dropdown-content a{
    text-decoration: none;
    color: black;
    padding: 8px;

}

.dropdown-content a:hover{
    content: '';
    height: 5px;
    margin-top: 30px;
    border-bottom: 5px solid rgba(255, 200, 2, 0.815);

}

.section1{
    display: flex;
    padding: 30px 10px 50px;

}

h2{
    margin-left: 400px;
    margin-bottom: 20px;
    
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.container1{
    margin: 10px 10px 10px 400px;
    padding: 30px 25px;
    width: 1180px;
    height: 160px;
    background-color: rgb(253, 251, 251);
    border-radius: 10px;

}

.container1 a{
    padding: 29px;
    align-items: center;
    justify-content: center;
    
}
.container1 li{
    list-style-type: none;
}

.container2{
    margin: 10px 10px 10px 400px;
    width: 412px;
    height: 162px;
    border-radius: 10px;
    background-color: rgb(253, 251, 251);
}

.container2 li{
    list-style-type: none;
}

.container3{
    margin: 10px 10px 10px 10px;
    width: 540px;
    height: 162px;
    border-radius: 10px;
    background-color: rgb(253, 251, 251);
}

.container4{
    margin: 10px 10px 10px 10px;
    width: 156px;
    height: 136px;
    border-radius: 10px;
    background-color: rgb(253, 251, 251);
}